@section Styles {
    <link href="@Url.Content("./day-forecast.scss")" rel="stylesheet" type="text/css" />
}

<div class="forecast-container">
    <div class="day">Sunday</div>
    <div class="conditions">
        <div>21&deg;</div>
        <div>0%</div>
        <div>0 <span>km/h</span></div>
    </div>
    <div class="status">Time to Run!</div>
</div>