@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">This Week</h1>
    @await Component.InvokeAsync("DayForecast")
    <h1 class="display-6">Next Week</h1>
</div>
